body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-family: 'Raleway';
}
.hero {
  position: relative;
  color: white;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  position: absolute;
  text-align: center;
  line-height: 1em;
}
.title span {
  color: #c49f6f;
}
#canvas {
  background-color: #2c343f;
  width: 100%;
  height: 100%;
}
